@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$font-main: "Lato", helvetica, sans-serif;
// weight: 900, 700, 400

$bg-body: #000000;
$bg-header: #23252B;
$color-orange: #FF640A;

$color-white: #FFFFFF;
$color-gray: #A0A0A0;
$color-gray-lighten: #DADADA;
$color-gray-dark: #59595B;

